* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 200px auto;
  background-color: beige;
  width: 500px;
}
ul li {
  height: 50px;
  background-color: #999;
  line-height: 50px;
  padding-left: 80px;
  font-size: 18px;
  font-weight: 800;
}
ul li a {
  display: block;
  width: 500px;
  height: 50px;
  color: aliceblue;
}
